/* Uniscores © 2023 by Maxime Ferrino is licensed under CC BY-SA 4.0, see the README.md file */
/* Your app custom styles here */
.buttons-row {
	display: flex;
	overflow-x: auto;

	> * {
		margin-right: 5px;
		flex-shrink: 0;
	}
}

.buttons-icons-row {
	display: flex;
	overflow-x: auto;
}

.monospace-font {
	font-family: monospace;
}

.listitem-subform-item {
	padding: 0 10px;
	border-left: 5px solid var(--f7-color-primary);
	border-right: 5px solid var(--f7-color-primary);
}

.chips-list-container > * {
	margin: 3px;
}

.text-align-right {
	text-align: right;
}
