.AdminGridScoresInput {
	@thheight: 10em;

	.switches-list > div {
		margin-bottom: 5px;
	}

	.results-groups {
		table {
			--table-border-width: 1px;
			border-collapse: collapse;
			margin-top: @thheight;

			tbody > tr {
				&:nth-child(odd) {
					background-color: #fff;
				}
				&:nth-child(even) {
					background-color: #eee;
				}
				&:hover {
					background-color: #ccc;
				}
			}

			tbody > tr {
				&:nth-child(odd) > td:first-child {
					background-color: #fff;
				}
				&:nth-child(even) > td:first-child {
					background-color: #eee;
				}
			}

			tr > td:first-child {
				position: sticky !important;
				z-index: 20;
				left: 0;
			}

			td {
				border: var(--table-border-width) dotted black;
				text-align: right;
				padding: 3px 6px;
				font-weight: lighter;

				&.username,
				&.discipline {
					font-weight: bold;
				}

				&.rank,
				&.total {
					font-weight: bolder;
				}

				select {
					padding-right: 1.5em;
				}
				input {
					width: 3em;
				}
			}

			th {
				border: var(--table-border-width) dotted black;
				white-space: nowrap;
				min-width: 2.5em;
				position: sticky !important;
				z-index: 40;
				top: 0;
				background-color: #fff;
				padding: 5px 10px;

				&> .route-text {
					font-weight: bold;
				}

				&> .discipline-text {
					font-weight: lighter;
				}
			}
		}
	}

	.results-groups.comp-mode-boulder_1zone {
		table.results-groups-table {
			th > div {
				width: 5em;
			}
		}
	}

	.AdminGridScoresInputField-boulder_1zone-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  	grid-gap: 5px;
		border-collapse: collapse;
		text-align: center;
	}
}
