.ResultsGridViewPage {
	@thheight: 10em;

	.switches-list > div {
		margin-bottom: 5px;
	}

	.results-groups {
		overflow-x: auto;

		.capturing-png .rg-download-icon-button {
			display: none;
		}

		table {
			--table-border-width: 1px;
			border-collapse: collapse;
			margin-top: @thheight;
			margin-right: @thheight;

			tbody > tr {
				&:nth-child(odd) {
					background-color: #fff;
				}
				&:nth-child(even) {
					background-color: #eee;
				}
				&:hover {
					background-color: #ccc;
				}
			}

			tbody > tr {
				&:nth-child(odd) > td:first-child {
					background-color: #fff;
				}
				&:nth-child(even) > td:first-child {
					background-color: #eee;
				}
			}

			tr > td:first-child {
				position: sticky !important;
				z-index: 20;
				left: 0;
			}

			td {
				border: var(--table-border-width) dotted black;
				text-align: right;
				padding: 3px 6px;
				font-weight: lighter;

				&.username {
					font-weight: bold;
				}

				&.rank,
				&.total,
				&.profile-field {
					font-weight: bolder;
				}
			}

			th {
				white-space: nowrap;
				position: relative;
				min-width: 2.5em;

				&.wide-text {
					padding: 0 5px;
				}
				&.route-text {
					font-weight: lighter;
				}

				& > div {
					position: absolute;
					bottom: 0;
					left: 0;
					text-align: left;
					transform: translate(calc(100% - var(--table-border-width) / 2), var(--table-border-width)) rotate(315deg);
					transform-origin: 0% calc(100% - var(--table-border-width));
					width: 100%;

					& > span {
						position: absolute;
						bottom: 0;
						left: 0;
						border-bottom: var(--table-border-width) dotted black;

						display: inline-block;
						max-width: calc((@thheight - 1em) * sqrt(2));
						overflow-x: auto;

						&::-webkit-scrollbar {
							display: none; /* Hide scrollbar for Chrome, Safari and Opera */
						}
						-ms-overflow-style: none; /* IE and Edge */
						scrollbar-width: none; /* Firefox */
					}
				}
			}
		}
	}

	.results-groups.comp-mode-boulder_1zone {
		table.results-groups-table {
			th > div {
				width: 5em;
			}
		}
	}
}
