/* Uniscores © 2023 by Maxime Ferrino is licensed under CC BY-SA 4.0, see the README.md file */
.RouteFormPopup {
	.points-label {
		white-space: nowrap;
	}
	.points-list > * {
		margin: 3px;
	}
	.points-subform-item {
		padding: 0 10px;
		border-left: 5px solid var(--f7-color-primary);
		border-right: 5px solid var(--f7-color-primary);
	}
}
