/* Uniscores © 2023 by Maxime Ferrino is licensed under CC BY-SA 4.0, see the README.md file */
.DisciplineRoutesList-route-badges {
	max-width: 75%;
	text-align: right;
	> * {
		margin: 3px 5px;
	}
}
