/* Uniscores © 2023 by Maxime Ferrino is licensed under CC BY-SA 4.0, see the README.md file */
.ErrorMessage {
	display: inline-block;
	color: rgb(245, 59, 35);
	font-weight: bold;

	&.centered {
		display: block;
		text-align: center;
	}
}
