.list {
	.uniscores-password-input {
		.item-inner {
			padding-right: calc(0.5em + 1em + 16px + 16px);
		}

		.password-eye-container {
			color: var(--f7-text-color);
			position: absolute;
			right: 16px;
		}
	}
}
