/* Uniscores © 2023 by Maxime Ferrino is licensed under CC BY-SA 4.0, see the README.md file */
.AdminResultsGroupsPage {
	table {
		td,
		th {
			max-width: 20vw;
			min-width: 10vw;
		}
		td {
			padding: 10px;
		}
	}
}
